<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script href="/static/script.js"></script>
    <title>TeaCloud Home</title>
</head>
<body>

<header th:insert="/fixedcont/header">
    <!-- Header must be declared here -->
</header>

<!--
    Log in panel
-->
<div class="container">
    <div class="form-container">
        <h2 id="form-title">Login to the TeaCloud</h2>
        <form id="auth-form" th:action="post">
            <input type="text" id="userid" placeholder="User ID" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Submit</button>
            <p>Don't have an account? <a th:href="@{/pages/sign-up}">Sign Up</a></p>
        </form>
    </div>
    <div class="image-container">
        <img th:src="@{/mediafiles/image.jpg}"  alt="Right-side Image">
    </div>
</div>
<script src="script.js"></script>

<header th:insert="/fixedcont/footer">
    <!-- Header must be declared here -->
</header>

</body>
</html>