<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/script.js}"></script>
    <title>TeaCloud Home</title>
</head>
<body>

<div th:insert="~{/fixedcont/header}">
    <!--This is part reserved for the header-->
</div>

<!--
    Log in panel
-->
<div class="container">

    <div class="form-container">

        <h2 id="form-title">Login to the TeaCloud</h2>
        <h5 th:if="${signedUp}">Congratulations you're registered <strong th:text="#{success}"></strong></h5>
        <h5 th:if="${failed}">Couldn't register you</h5>

        <form id="auth-form" th:action="@{/pages/validate-login}" th:object="${loginDTO}" method="post">
            <input type="number" id="userid" placeholder="User ID" th:field="*{memberID}" required>
            <input type="password" id="password" placeholder="Password" th:field="*{password}" required>
            <button type="submit">Submit</button>
            <p>Don't have an account? <a th:href="@{/pages/sign-up}">Sign Up</a></p>
            <div th:if="${success}">
                <p> your Member id is: <strong th:text="${success}"> </strong> </p>
            </div>
        </form>

    </div>
    <div class="image-container">
        <img th:src="@{/mediafiles/image.jpg}"  alt="Right-side Image">
    </div>
</div>
<script src="script.js"></script>

<div th:insert="~{/fixedcont/footer}">
    <!-- Header must be declared here -->
</div>

</body>
</html>